<div class="container-fluid" id="routing-nav">
	<nav class="navbar navbar-expand-lg">
		<a class="navbar-brand d-block d-lg-none" href="#">NAV MENU</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
		 aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-item nav-link" [ngClass]="{ active: selectedTab == 'MAP' }" routerLink="/routing/routes/active" data-toggle="collapse">
						<i class="mtx-icon mtx-icon-tracking menu-icon"></i>&nbsp;
						<span>Map</span>
					</a>
				</li>
				<li class="nav-item" style="cursor: pointer;" ngbDropdown>
					<a class="nav-link" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
						<i class="mtx-icon mtx-icon-route-management menu-icon"></i>
						Route Management
					</a>
					<div aria-labelledby="navbarDropdown" ngbDropdownMenu>
						<a class="dropdown-item" href="/routing/stops/edit">Stops</a>
						<a class="dropdown-item" href="/routing/calendars">Calendars</a>
						<a class="dropdown-item" href="/routing/routes">Routes</a>
						<a class="dropdown-item" href="/routing/trips">Trips</a>
					</div>
				</li>
				<li class="nav-item" style="cursor: pointer;" ngbDropdown>
					<a class="nav-link" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
						<i class="mtx-icon mtx-icon-reports menu-icon"></i>
						<span style="padding-left: 1px;">Reports</span>
					</a>
					<div aria-labelledby="navbarDropdown" ngbDropdownMenu>
						<a class="dropdown-item" href="/reports/dashboard">Dashboard</a>
						<a class="dropdown-item" href="/reports/departure-time">Departure Time Report</a>
						<a class="dropdown-item" href="/reports/arrivals-and-departures">Arrivals & Departures Report</a>
						<!-- <a class="dropdown-item" href="/reports/headway">Headway Report</a> -->
					</div>
				</li>
			</ul>
		</div>
	</nav>
</div>